* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 20px;
}

.desktop-hide {
  display: none;
}

.pdf-show {
  display: none;
}

#resume {
  width: 768px;
}

#main .list ul li:not(:first-child) {
  margin-top: 28px;
}

#main .list ul li h3 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0;
}

#main .list ul li h3.title {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.88);
}

#main .list ul li h3.subtitle {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
}

#main .list ul li h3.time,
#main .list ul li h3.location {
  color: rgba(0, 0, 0, 0.64);
}

#main .list ul li h3.time .period {
  color: rgba(0, 0, 0, 0.4);
}

#main .list ul li .description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.4);
}

#main .list ul li .description p {
  margin-bottom: 12px;
}

#main .list ul li .description p:last-of-type {
  margin-bottom: 0;
}

#skills.list ul li {
  font-size: 14px;
  line-height: 20px;
}

#skills.list ul li:not(:first-child) {
  margin-top: 12px;
}

@media print {
  body {
    font-family: "Proxima Nova", "proxima-nova" !important;
  }

  #contact a {
    color: rgba(0, 0, 0, 0.88) !important;
  }

  #resume #main .list ul li h3.time .period {
    display: none;
  }

  body {
    width: 1024px;
  }

  .pdf-hide {
    display: none;
  }

  .pdf-show {
    display: block;
  }

  #skills {
    page-break-inside: avoid;
  }
}
