* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-text-size-adjust: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1.4em;
}

.pdf-show {
  display: none;
}

h3 {
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 0;
}

p {
  font-size: 0.95em;
}

h3.title {
  margin-top: 2em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.88);
}

h3.subtitle {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.88);
  margin-bottom: 0.5em;
}

h3.time,
h3.location {
  color: rgba(0, 0, 0, 0.64);
}

h3.time .period {
  color: rgba(0, 0, 0, 0.4);
}

.description {
  color: rgba(0, 0, 0, 0.4);
}

.description p {
  margin-bottom: .4em;
}

.description p:last-of-type {
  margin-bottom: 0;
}

.cover-letter {
  max-width: 700px;
}

article p {
  margin: 1.8em 0.5em;
}

hr {
  margin: 3em 0;
  border-bottom: 0.3em solid #30bf78;
}

.color, a {
  color: #30bf78;
}

.company_url {
  color: #1a1a1a;
}

.company_url:hover {
  color: #30bf78 !important;
}

main {
  margin: 0 auto;
  padding: 65px 0 57px;
  max-width: 880px;
}

#name {
  line-height: 40px;
  color: rgba(0, 0, 0, 0.88);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.5em;
}

#name span {
  font-weight: 300;
}

ul.subContact {
  margin-top: 9px
}

ul.subContact li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.64);
  margin-right: 8px;
}

li.skill {
  display: inline-block;
  background: #f1f3f3;
  padding: 0.3em 1em;
  border-radius: 0.3em;
  margin: .3em .3em .3em 0 !important;
  font-size: .9em;
}

.subAbout {
  margin-top: 28px;
  text-align: justify;
}

.subAbout h2.current-position {
  font-weight: 600;
  display: inline;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.88);
}

.subAbout p.about-me {
  display: inline;
}

.list ul li {
  margin: 20px 0;
}

.list ul li section:last-child {
  margin: 1em 0;
  border-left: 0.25em solid #30bf78;
  padding-left: 1.3em;
  padding-bottom: .3em;
  padding-top: .3em;
}

h2 {
  margin-top: 2em;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.description {
  color: rgba(0, 0, 0, 0.64) !important;
}

h3.time, .description {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  main {
    padding: 2em 3em;
  }

  .subAbout {
    text-align: left;
  }
}


@media print {
  #name span {
    font-weight: 100;
  }

  main {
    padding: 0 !important;
  }

  body {
    margin-top: 17px;
  }

  h3.time .period {
    display: none;
  }

  body {
    width: 1024px;
  }
}
