.color, a {
  color: #30bf78;
  fill: #30bf78;
}

.company_url {
  color: #1a1a1a;
}

.company_url:hover {
  color: #30bf78 !important;
}

#resume {
  margin: 0 auto;
  padding: 65px 0 57px;
}

#name {
  font-size: 36px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.88);
  text-transform: uppercase;
  font-weight: 700;
}

#name span {
  font-weight: 300;
}

ul.subContact {
  font-size: 14px;
  margin-top: 9px
}

ul.subContact li {
  display: inline-block;
  color: rgba(0, 0, 0, 0.64);
  margin-right: 8px;
}

ul.subContact li a {
  color: rgba(0, 0, 0, 0.64) !important;
}

.subAbout {
  margin-top: 28px;
  font-size: 14px;
}

.subAbout h2.current-position {
  font-size: 14px;
  font-weight: 600;
  display: inline;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.88);
}

.subAbout p.about-me {
  display: inline;
  color: rgba(0, 0, 0, 0.64);
}

#main .list ul {
  margin-top: -8px;
}

#main .list ul li {
  margin-top: 20px;
}

#main h2 {
  margin-top: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

#main .list ul li .description {
  color: rgba(0, 0, 0, 0.64) !important;
}

#main .list ul li h3.time,
#main .list ul li .description {
  margin-bottom: 0;
}

@media print {
  #name span {
    font-weight: 100;
  }

  #resume {
    padding: 0 !important;
  }

  body {
    margin-top: 17px
  }
}
